<p id="notice"><%= notice %></p>
<div class="row ml-2 mr-2">
  <div class="col-12">
    <div class="mb-3">
      <%= turbo_frame_tag "new_book", src: new_book_path, target: :_top %>
      <!-- %#= link_to 'Create New Book', new_book_path, class: "btn btn-sm btn-primary mb-2" % -->
    </div>
  </div>
</div>

<div class="row ml-2 mr-2">
  <div class="col-12">
    <div class="search-block" data-controller="search">
      <form>
        <div class="row">
          <div class="col-8">
            <div class="form-group row">
              <label for="query" class="col-sm-3 col-form-label">Search Book</label>
              <div class="col-sm-9">
                <input id="query" class="form-control ml-2" type="text" name="query" data-search-target="query" data-action="keyup->search#submit">
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="mbt-3" id="search-books" data-search-target="books">
        <%= turbo_stream_from "books" %>
        <%= turbo_frame_tag "books" do %>
          <%= render @books %>
        <% end %>
      </div>
    </div>
  </div>
</div>
